*{
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 21, 21);
    color:aliceblue;
    padding: 16px;
}
a{
    margin: 10px;
}
img{
    height: 55px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    padding:16px;
}
.p1{
    display: flex;
    background-color: rgb(45,170,45);
    justify-content: end;
    font-weight: bold;
    height:auto;
    width: 90%;
}
.p2{
    display: flex;
    background-color: rgb(45,170,45);
    justify-content: end;
    font-weight: bold;
    height:auto;
    width: 80%;
}
.p3{
    display: flex;
    background-color: rgb(45,170,45);
    justify-content: end;
    height:auto;
    font-weight: bold;
    width: 70%;
}
.white{
    display: flex;
    background-color: black;
    width: 10%;
}
.prog{
    background-color: antiquewhite;
    border: 1px solid;
}
.stats{
    width: 40%;
    margin:10px;
}
.about{
    margin:10px;
    width :60%;
}
.selected{
    color:rgb(45,170,45);
}
.btn{
    color:rgb(45,170,45);
    border: 2px solid rgb(45,170,45);
    background-color: white;
    height:15%;
    text-align: center;
    width: 15%;
    font-size: 15px;
}
.f{
    background-color: gray;
    color:white;
    font-size: 30px;
    font-weight: bold;
    padding: 8px 10px 8px 10px;
}
.logo{
    display: flex;
    justify-content: space-evenly;
}
.text{
    font-size: 30px;
    font-weight: bold;
    padding: 8px 10px 8px 10px;
}
span{
    color: rgb(45,170,45);
}